.main-buddyFeed-content.queue-panel {
    padding: 10px;
}

.queue-panel .queue-queuePage-queuePage {
    margin-top: 10px !important;
}

.queue-queuePage-subHeader {
    margin-top: 8px;
}

.queue-panel .main-trackList-trackListRowGrid {
    padding: 0px 4px;
}
