.main-yourLibraryX-navItems {
    padding: 4px 0px;
}

.main-yourLibraryX-collapseButton > button[aria-label="Collapse Your Library"] {
    visibility: collapse;

    > span {
        visibility: visible;
    }
}
