div.rating-dropdown {
}

button.rating-button {
}

svg.rating-1 {
    fill: "#ED5564" !important;
}

svg.rating-2 {
    fill: "#FFCE54" !important;
}

svg.rating-3 {
    fill: "A0D568" !important;
}

svg.rating-4 {
    fill: "#4FC1E8" !important;
}

svg.rating-5 {
    fill: "#AC92EB" !important;
}
