div.rating-dropdown {
}

button.rating-button {
}

svg.rating-1 {
    fill: #ed5564 !important;
}

svg.rating-2 {
    fill: #ffce54 !important;
}

svg.rating-3 {
    fill: #a0d568 !important;
}

svg.rating-4 {
    fill: #4fc1e8 !important;
}

svg.rating-5 {
    fill: #ac92eb !important;
}

[dir="ltr"] .main-trackList-rowSectionEnd > :nth-last-child(2) {
    margin-right: 0px;
}
